/* Chevron Right Icon */
.left {
  float: left !important;
  margin-left: 0em !important;
}

/* Horizontal Scrolling Box */
/* https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* momentum & bounce */
}

.positive,
.positive::after {
  background-color: #fcfff5 !important;
  color: #2c662d !important;
}

.negative,
.negative::after {
  background-color: #fff6f6 !important;
  color: #9f3a38 !important;
}

.warning,
.warning::after {
  background-color: #fffaf3 !important;
  color: #573a08 !important;
}

/* Other Stuff */
html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

li {
  font-size: 1em;
}

p {
  font-size: 1em;
}

p.complete {
  color:  #2c662d;
}

p.incomplete {
  color: #f44242;
}

form {
  padding: 20px;
  margin-top: 60px;
}

.column {
  margin-top: 60px !important;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

.img {
  left: 0;
  position: absolute;
  width: 70px;
  height: 70px;
}

.img2 {
  position: absolute;
  bottom: -400px;
  right: 20px;
  width: 300px;
  height: 70px;
}
.post-card {
  background-color: rgba(0, 167, 225, 0.54);
  border-radius: 25px;
  color: rgba(51, 153, 153, 0.54);
}

.submitB {
  margin-top: 50px !important;
  margin-left: 180px !important;
  margin-right: 180px !important;
  margin-bottom: 50px !important;
}

.easyS {
  margin-top: 20px !important;
}

.lProg {
  margin-bottom: 40px !important;
}

.session {
  margin-left: 9px !important;
}
.ste {
  margin-left: 6px !important;
}
.footy {
  padding-top: 200px;
}

.prog {
  padding-top: 8px !important;
  padding-bottom: 30px !important;
}
.exempt {
  color: #2c662d !important;
}
.reccy {
  padding-top: 30px !important;
  padding-bottom: 0px !important;
}

.paddin {
  padding-left: 30px !important;
}

.butty {
  padding: 3px !important;
}

.progg {
  padding-bottom: 80px !important;
}
