.left {
  float: left;
  margin-left: 0em;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url(https://png.pngtree.com/element_origin_min_pic/16/11/18/fa31e26a24365a9d06fcdad638cb3864.jpg);
  background-image-repeat: repeat;
  background-image-opacity: 0.5;
}

li {
  font-size: 1em;
}

p {
  font-size: 1em;
}

p.complete {
  color: #2bd225;
}

p.incomplete {
  color: #f44242;
}

form {
  padding: 20px;
  margin-top: 60px;
}

.column {
  margin-top: 60px !important;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

.img {
  left: 0;
  position: absolute;
  width: 70px;
  height: 70px;
}

.img2 {
  position: absolute;
  bottom: -400px;
  right: 20px;
  width: 300px;
  height: 70px;
}
.post-card {
  background-color: rgba(0, 167, 225, 0.54);
  border-radius: 25px;
  color: rgba(51, 153, 153, 0.54);
}

.submitB {
  margin-top: 20px !important;
}

.easyS {
  margin-top: 20px !important;
}

.pForm {
  /*background-color:rgba(98, 173, 202, 0.2) !important;*/
}

.lProg {
  margin-bottom: 40px !important;
}

.ui.menu {
  background: #e5e5e5;
  margin-top: 80px;
}
